﻿@using FA.ScoreManagement.Common
@using FA.ScoreManagement.Models.Subject
@model SubjectVM

<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="page-title mb-0 p-0">Edit Subject</h3>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Subject</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Edit</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card">
                <div class="card-body profile-card">
                    <center class="mt-4">
                        <img src="http://placehold.jp/100x100.png" class="rounded-circle" width="150">
                        <h4 class="card-title mt-2">Score Manage Student</h4>
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <a href="javascript:void(0)" class="link">
                                    <i class="icon-people" aria-hidden="true"></i>
                                    <span class="font-normal">254</span>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="javascript:void(0)" class="link">
                                    <i class="icon-picture" aria-hidden="true"></i>
                                    <span class="font-normal">54</span>
                                </a>
                            </div>
                        </div>
                    </center>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-8 col-xlg-9 col-md-7">
            <div class="card">
                <div class="card-body">
                    <form class="form-horizontal form-material mx-2" method="post">
                        <div class="form-group">
                            <input type="text" asp-for="Id" class="form-control" hidden>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Subject Name</label>
                            <input type="text" asp-for="Name" class="form-control" placeholder="Class name">
                            <span asp-validation-for="Name" class="form-text "></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TeacherAssignId"></label>
                            <select asp-for="TeacherAssignId" class="form-control" asp-items="@ViewBag.TeacherAssign"></select>
                            <span asp-validation-for="TeacherAssignId" class="form-text "></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ClassAssignedId"></label>
                            <select asp-for="ClassAssignedId" class="form-control" asp-items="@ViewBag.ClassAssign"></select>
                            <span asp-validation-for="ClassAssignedId" class="form-text "></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SemesterAssignedId"></label>
                            <select asp-for="SemesterAssignedId" class="form-control" asp-items="@ViewBag.SemesterAssign"></select>
                            <span asp-validation-for="SemesterAssignedId" class="form-text "></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SchoolYearAssignedId"></label>
                            <select asp-for="SchoolYearAssignedId" class="form-control" asp-items="@ViewBag.SchoolYearAssign"></select>
                            <span asp-validation-for="SchoolYearAssignedId" class="form-text "></span>
                        </div>
                        <button type="submit" class="btn btn-success text-white">Submit</button>
                        @if (Model.Status == Status.Active)
                        {
                            <button asp-area="Admin" asp-controller="Subject" asp-action="ChangeState" asp-route-id="@Model.Id" class="btn btn-warning text-white">
                                Deactivate
                            </button>
                        }
                        else if (Model.Status == Status.InActive)
                        {
                            <button asp-area="Admin" asp-controller="Subject" asp-action="ChangeState" asp-route-id="@Model.Id" class="btn btn-warning text-white">
                                Activate
                            </button>
                        }
                        <a asp-area="Admin" asp-controller="Subject" asp-action="Index" class="btn btn-danger text-white">
                            Back to list
                        </a>
                    </form>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
</div>


