﻿@{
	ViewData["Title"] = "ResultStat";
	Layout = "~/Views/Shared/_LayoutStudent.cshtml";

}
<head>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
</head>
<div class="panel panel-default panel-border-color panel-border-color-primary">
	<div class="k-panel-tl">
		<div class="k-panel-tr">
			<div class="k-panel-tc">
				<div class="panel-heading panel-heading-divider">
					<span class="k-panel-header-text">Learning outcomes of the modules</span>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-body">

		<table class="table table-bordered table-striped">
			<tbody>
				<tr>
					<td>
						Student Name:
					</td>
					<td>
						<strong>
							@{
								@ViewBag.UserFName
							}
						</strong>
					</td>
				</tr>
				<tr>
					<td>
						Student ID:
					</td>
					<td>
						<strong>
							@{
								@ViewBag.StudentId
							}
						</strong>
					</td>
				</tr>
				<tr>
					<td>
						Class:
					</td>
					<td>
						<strong>
							@{
								@ViewBag.ClassName
							}
						</strong>
					</td>
				</tr>
				<tr style="color:red">
					<td>
						Average:
					</td>
					<td>
						<strong>
							@{
								@ViewBag.AverageScoreFull
							}
						</strong>
					</td>
				</tr>
				<tr style="color:red">
					<td >
						Grade:
					</td>
					<td>
						<strong>
							@{
								@ViewBag.Grade
							}
						</strong>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

	<div id="chartContainer" style="height: 370px; width: 100%;"></div>
</div>
<script>
	window.onload = function () {

	var chart = new CanvasJS.Chart("chartContainer", {
		animationEnabled: true,
		theme: "light2", // "light1", "dark1", "dark2"
		exportEnabled: true,
		title: {
			text: "Learning statistics results"
		},
		data: [{
			type: "column",
			dataPoints:  @Html.Raw(ViewBag.DataPoints)
		}]
	});
	chart.render();

	}
</script>

