﻿@using FA.ScoreManagement.Models.Student
@model StudentPDFVM

<form name="frmMain" method="post" id="frmMain" data-toggle="validator" role="form">
    <div class="panel panel-default panel-border-color panel-border-color-primary">
        <div class="k-panel-tl">
            <div class="k-panel-tr">
                <div class="k-panel-tc">
                    <div class="panel-heading panel-heading-divider">
                        <span class="k-panel-header-text">Learning outcomes of the modules</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">

            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <td>
                            Student Name:
                        </td>
                        <td>
                            <strong>
                                @Model.FullName
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Student ID:
                        </td>
                        <td>
                            <strong>
                                @Model.UserId
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Class:
                        </td>
                        <td>
                            <strong>
                                @Model.ClassName
                            </strong>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="k-panel-bwrap">
            <div class="k-panel-ml">
                <div class="k-panel-mr">
                    <div class="k-panel-mc">
                        <div class="panel-body">
                            <div class="kGrid">
                                <div class="">
                                    <table id="studyResult" class="table table-bordered table-striped">
                                        <thead style="text-align: center">
                                            <tr class="kTableHeader">
                                                <td class="td" rowspan="2">
                                                    Subject code
                                                </td>
                                                <td class="td" rowspan="2">
                                                    Subject name
                                                </td>
                                                <td class="td" rowspan="2">
                                                    Semester
                                                </td>
                                                <td class="td" colspan="2">
                                                    Regular score
                                                </td>
                                                <td class="td" rowspan="2">
                                                    Midterm score
                                                </td>
                                                <td class="td" rowspan="2">
                                                    Final score
                                                </td>

                                                <td class="td" rowspan="2">
                                                    Average score
                                                </td>

                                                <td rowspan="2">
                                                    Grade
                                                </td>
                                            </tr>
                                            <tr class="kTableHeader">
                                                <td>
                                                    FifteenMinutes
                                                </td>
                                                <td>
                                                    OnePeriod
                                                </td>
                                            </tr>
                                        </thead>
                                    </table>

                                    <div class="red" style="font-size: 15px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</form>
<div hidden>
    <div class="text-center" id="export">
        <br />
        <br />
        <br />
        <br />
        <div>
            <h1 style="text-align:center;"><b style="color:#74B048">FPT SOFTWARE <br /><b style="color:#025746">ACADEMY</b></b></h1>
            <h2 style="text-align:center;">Table of learning results</h2>
            <p style="text-align:center;">(Enclosed with University Diploma No)</p>
            <h2 style="margin-left:100px;">Part I. Information General</h2>
            <h3 style="margin-left:120px;">Full Name: <b>@Model.FullName</b></h3>
            <h3 style="margin-left:120px;">Address: <b>@Model.Address</b></h3>
            <h3 style="margin-left:120px;">Date of birth : <b>@Model.DateOfBirth</b></h3>
            <h2 style="margin-left:100px;">Part II. Learning outcomes</h2>
        </div>
        <div>
            <table id="pdfStudyresult" class="table center" style="border-collapse:collapse;border-style:solid;margin:auto" border="1">
                <thead style="text-align:center;">
                    <tr width=80%>
                        <th class="th" width=10%>
                            Subject code
                        </th>
                        <th class="th" width=20%>
                            Subject name
                        </th>
                        <th class="th" width=10%>
                            Semester
                        </th>
                        <th width=10%>
                            FifteenMinutes
                        </th>
                        <th width=10%>
                            OnePeriod
                        </th>
                        <th class="th" width=10%>
                            Midterm score
                        </th>
                        <th class="th" width=10%>
                            Final score
                        </th>
                        <th class="th" width=10%>
                            Average score
                        </th>
                        <th width=10%>
                            Grade
                        </th>
                    </tr>
                </thead>
                <tbody style="text-align:center;">
                    @foreach (var item in @Model.scoreStudentVMs)
                    {
                        <tr>
                            <td>@item.SubjectId</td>
                            <td>@item.SubjectName</td>
                            <td>@item.SemesterName</td>
                            <td>@item.FifteenMinutes</td>
                            <td>@item.OnePeriod</td>
                            <td>@item.Middterm</td>
                            <td>@item.FinalExam</td>
                            <td>@item.Average</td>
                            <td>@item.Grade</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <br />
        <br />
        <div style="margin-left:500px;text-align:center;">
            <h3>Rector of FPT University</h3>
            <h4>Vinh</h4>
            <h4></h4>
        </div>
    </div>
</div>

@using (Html.BeginForm("PrintPdf", "Student"))
{
    <input type="hidden" name="html">
    <input type="submit" id="btnSubmit" value="Export" class="btn btn-primary" />
}
@section scripts{
    <script src="~/js/StudyResult.js"></script>
    @*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@

    <script type="text/javascript">
        $(function() {
            $("#btnSubmit").click(function() {
                $("input[name='html']").val($("#export").html());
            });
        });
    </script>
}