﻿@using FA.ScoreManagement.Models.Student
@model UpdateStudentInfoVM

<form name="frmMain" method="post" id="frmMain" data-toggle="validator" role="form">
    <div class="user-profile">
        <div class="row">
            <div class="col-md-12">
                <div class="user-display" style="background-image: url(/assets/img/404-bg1.png)">
                    <br>
                    <br>
                    <div class="user-display-bottom">
                        <div class="user-display-avatar">
                            <img src="http://placehold.jp/100x100.png" alt="NO IMAGE">
                        </div>
                        <div class="user-display-info" style="height: 40px">
                            <div class="title">FULL NAME</div>
                            <div class="name">@ViewBag.UserFName</div>
                        </div>
                        <div class="row user-display-details">
                            <div class="col-xs-4">
                                <div class="title">ID OF STUDENT</div>
                                <div class="counter">@ViewBag.UserId</div>
                            </div>
                            <div class="col-xs-4">
                                <div class="title">CLASS</div>
                                <div class="counter">@ViewBag.ClassName</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="user-info-list panel panel-default">
                    <div class="panel panel-flat">
                        <div class="panel-heading panel-heading-divider">
                            <b>PERSON INFORMATION</b>
                            <p style="color: red; font-size: 20px; font-weight: bold;"></p>
                        </div>
                        <div class="panel-body">
                            <div class="form-group row">
                                <label class="col-lg-2 label-style">Full name: </label>
                                <label id="ctl02_ctl00_inpFullName" class="col-lg-10 col-form-label old-info">@ViewBag.UserFName</label>
                                <div class="col-sm-3">
                                    <input asp-for="FullName" type="text" id="ctl02_ctl00_LastName" class="form-control" placeholder="@ViewBag.UserFName">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Address" class="col-lg-2 label-style">Date of birth: </label>
                                <label id="ctl02_ctl00_inpDOB" class="col-lg-10 col-form-label old-info">@ViewBag.DoB</label>
                                <div class="col-sm-6">
                                    <div class="input-group date" id="inpStartDate">
                                        <input asp-for="Dob" type="text" id="ctl02_ctl00_StartDate" class="form-control" placeholder="@ViewBag.DoB">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    <script type="text/javascript">
                                        $(function () {
                                            $('#ctl02_ctl00_StartDate').datetimepicker({ weekStart: 1, minView: 2, pickTime: false, format: 'dd/mm/yyyy', autoclose: true });
                                        });</script>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Address" class="col-lg-2 label-style">Gender: </label>
                                <label id="ctl02_ctl00_inpGender" class="col-lg-10 col-form-label old-info">@ViewBag.Sex</label>
                                <div class="col-sm-6">
                                    <select asp-for="Sex" name="Sex" id="dropdowGender" class="form-control">
                                        <option selected="selected" hidden>@ViewBag.Sex</option>
                                        <option value=false>Male</option>
                                        <option value=true>Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Address" class="col-lg-2 label-style">Address: </label>
                                <label id="ctl02_ctl00_lblBirthPlace" class="col-lg-10 col-form-label old-info">@ViewBag.Address</label>
                                <div class="col-sm-6">
                                    <select asp-for="Address" id="dropBirthPlaceID" class="form-control">
                                        <option selected="selected" hidden>@ViewBag.Address </option>
                                        <option value="An Giang">An Giang</option>
                                        <option value="Bà Rịa - Vũng Tàu">Bà Rịa - Vũng Tàu</option>
                                        <option value="Bắc Giang">Bắc Giang</option>
                                        <option value="Bắc Kạn">Bắc Kạn</option>
                                        <option value="Bạc Liêu">Bạc Liêu</option>
                                        <option value="Bắc Ninh">Bắc Ninh</option>
                                        <option value="Bến Tre">Bến Tre</option>
                                        <option value="Bình Định">Bình Định</option>
                                        <option value="Bình Dương">Bình Dương</option>
                                        <option value="Bình Phước">Bình Phước</option>
                                        <option value="Bình Thuận">Bình Thuận</option>
                                        <option value="Cà Mau">Cà Mau</option>
                                        <option value="Cần Thơ">Cần Thơ</option>
                                        <option value="Cao Bằng">Cao Bằng</option>
                                        <option value="Đà Nẵng">Đà Nẵng</option>
                                        <option value="Đắk Lắk">Đắk Lắk</option>
                                        <option value="Đắk Nông">Đắk Nông</option>
                                        <option value="Điện Biên">Điện Biên</option>
                                        <option value="Đồng Nai">Đồng Nai</option>
                                        <option value="Đồng Tháp">Đồng Tháp</option>
                                        <option value="Gia Lai">Gia Lai</option>
                                        <option value="Hà Giang">Hà Giang</option>
                                        <option value="Hà Nam">Hà Nam</option>
                                        <option value="Hà Nội">Hà Nội</option>
                                        <option value="Hà Tĩnh">Hà Tĩnh</option>
                                        <option value="Hải Dương">Hải Dương</option>
                                    </select>
                                </div>
                            </div>
                            <div class="k-buttons">

                                <button type="submit" class="btn btn-primary btn-space hover" id="submit">
                                    <i class="fa fa-plus pr5"></i>
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<script>
            var btn = document.querySelector('#submit');
            var sb = document.querySelector('#dropdowGender');
            var name = document.getElementsByName("Sex");
            btn.onclick = (event) => {
                event.preventDefault();
                // show the selected index
                var selectValues = [].filter.call(sb.options, option => option.selected)
                    .map(option => option.text);
                name = selectValues;
                //alert(selectValues);
                //alert(name);
            };
        </script>*@

        <style>
            .old-info {
                color: red;
                font-weight: bold;
            }

            .label-style {
                font-weight: 600;
            }

            .form-prety {
                margin-bottom: 0rem !important;
            }
        </style>
    </div>
</form>