﻿@using FA.ScoreManagement.Models.Student
@model AdminStudent
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="page-title mb-0 p-0">Update Student</h3>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Student</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Update</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <!-- Column -->
        <div class="col-lg-12 col-xlg-10 col-md-8">
            <div class="card">
                <div class="card-body">
                    <form class="form-horizontal form-material mx-2" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" hidden>
                        </div>
                        <div class="form-group">
                            <label asp-for="FullName"></label>
                            <input type="text" asp-for="FullName" class="form-control">
                            <span asp-validation-for="FullName" class="form-text "></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Dob"></label>
                            <input asp-for="Dob" class="form-control">
                            <span asp-validation-for="Dob" class="form-text "></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Sex"></label>
                            <br />
                            @if (Model.Sex)
                            {
                                <input asp-for="Sex" type="radio" value="False" />
                                <label>	&nbsp;Male&nbsp;&nbsp;</label> 
                                <input asp-for="Sex" type="radio" value="True" selected />
                                <label>	&nbsp;Female</label>
                            }
                            else
                            {
                                <input asp-for="Sex" type="radio" value="False" selected />
                                <label>	&nbsp;Male&nbsp;&nbsp;</label>
                                <input asp-for="Sex" type="radio" value="True" />
                                <label>	&nbsp;Female</label>
                            }
                            <span asp-validation-for="Sex" class="form-text "></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address"></label>
                            <input type="text" asp-for="Address" class="form-control">
                            <span asp-validation-for="Address" class="form-text "></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ClassId"></label>
                            <select asp-for="ClassId" class="form-control" asp-items="@ViewBag.ClassList"></select>
                            <span asp-validation-for="ClassId" class="form-text "></span>
                        </div>
                        <button type="submit" class="btn btn-success text-white">Update</button>
                        <a asp-area="Admin" asp-controller="Student" asp-action="Index" class="btn btn-danger text-white">
                            Back to list
                        </a>
                    </form>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
</div>


