﻿<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="page-title mb-0 p-0">Manage Student</h3>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Admin</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Student</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <!-- column -->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body" style="padding:1rem;">
                    <p class="card-title">
                        <a asp-action="Create" asp-controller="Student" asp-area="Admin" class="btn btn-primary mx-2 text-white" style="width: 100px">
                            <i class="bi bi-plus-circle"></i> &nbsp;Create
                        </a>
                        <br />
                        <br />
                    </p>
                    <div class="table-responsive">
                        <table id="StudentTB" class="table user-table no-wrap">
                            <thead>
                                <tr>
                                    <th class="border-top-0">Full Name</th>
                                    <th class="border-top-0">User Name</th>
                                    <th class="border-top-0">Password</th>
                                    <th class="border-top-0">Class Name</th>
                                    <th class="border-top-0">Date of birth</th>
                                    <th class="border-top-0">Sex</th>
                                    <th class="border-top-0">Address</th>
                                    <th class="border-top-0"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{ 
    <script src="~/js/student.js"></script>
}
