﻿@model FA.ScoreManagement.Models.Teacher.PassTeacherVM

<form name="frmMain" method="post" id="frmMain" data-toggle="validator" role="form">
    <link href="/vnkResource/Css/Dynamic.css" rel="stylesheet" type="text/css">
    <script src="/vnkResource/Js/Dynamic.js" type="text/javascript"></script>
    <div class="panel panel-default panel-border-color panel-border-color-primary">
        <div class="boxpanel-tl">
            <div class="boxpanel-tr">
                <div class="panel-heading panel-heading-divider">
                    <span class="boxpanel-header-text">Change password</span>
                </div>
            </div>
        </div>
        <div class="boxpanel-bwrap">
            <div class="boxpanel-ml">
                <div class="boxpanel-mr">
                    <div class="boxpanel-mc">
                        <div class="k-panel-body form">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-6">
                                        <p>* New password is must at least 6 characters</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        Old password<span class="req">*</span>
                                    </label>
                                    <div class="col-sm-6">
                                        <input asp-for="OldPass" type="password" maxlength="255"class="form-control input-xs">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        New password<span class="req">*</span>
                                    </label>
                                    <div class="col-sm-6">
                                        <input asp-for="NewPass" type="password" maxlength="255" id="ctl02_inpPasswordNew" class="form-control input-xs">
                                        <p id="notify"></p>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        Confirm new password<span class="req">*</span>
                                    </label>
                                    <div class="col-sm-6">
                                        <input asp-for="ConfirmPass" type="password" maxlength="255" id="ctl02_inpPasswordReNew" class="form-control input-xs">
                                        <p id="notify-check"></p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">

                                    </label>
                                    <div class="col-sm-6">
                                        <input type="submit" name="ctl02$butLogin" value="Submit"class="btn btn-space btn-primary">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="boxpanel-bl">
                <div class="boxpanel-br">
                    <div class="boxpanel-bc">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#ctl02_inpPasswordReNew').on('input', function (e) {
            var pass = $('#ctl02_inpPasswordNew').val();
            var repass = $('#ctl02_inpPasswordReNew').val();
            if (pass != repass) {
                $('#notify-check').text('New password does not macth!');
            } else {
                $('#notify-check').text('');
            }
        });
    </script>


</form>