﻿@using FA.ScoreManagement.Models.Subject
@{
	ViewData["Title"] = "ImportScore";
}
@model TeacherSubjectVM

<body>
	@*	<select class="form-control" asp-for="Id" asp-items="@ViewBag.Subjects" id="select" aria-label="Default select example">
		<option selected disabled>Choose a subject:</option>
		</select>*@
	<form name="frmMain" method="post" id="frmMain" data-toggle="validator" role="form">
		<div class="panel panel-default panel-border-color panel-border-color-primary">
			<div class="k-panel-tl">
				<div class="k-panel-tr">
					<div class="k-panel-tc">
						<div class="panel-heading panel-heading-divider">
							<span class="k-panel-header-text">Kết quả học tập các học phần</span>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<select class="form-control" asp-for="Id" asp-items="@ViewBag.Subjects" id="select" aria-label="Default select example">
					<option selected disabled>Choose a subject:</option>
				</select>
			</div>
			<div class="k-panel-bwrap">
				<div class="k-panel-ml">
					<div class="k-panel-mr">
						<div class="k-panel-mc">
							<div class="panel-body">
								<div class="kGrid">
									<div class="">
										<table id="TableResultBySubjectDT" class="table table-bordered table-striped">
											<thead style="text-align: center">
												<tr class="kTableHeader">
													<td class="td" rowspan="2">
														Student code
													</td>
													<td class="td" rowspan="2">
														Student name
													</td>
													<td class="td" colspan="2">
														Regular score
													</td>
													<td class="td" rowspan="2">
														Midterm score
													</td>
													<td class="td" rowspan="2">
														Final score
													</td>
												</tr>
												<tr class="kTableHeader">
													<td>
														FifteenMinutes
													</td>
													<td>
														OnePeriod
													</td>
												</tr>
											</thead>
										</table>

										<div class="red" style="font-size: 15px;">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</form>
</body>
<div>
		@using (Html.BeginForm("ExportToExcel", "Teacher"))
		{
		<input type="hidden" name="id">
		<input type="submit" id="btnSubmit" value="Export" class="btn btn-primary" />
		}

<div class="row">
    <div class="col-md-12">
        <form asp-action="BatchUserUpload" asp-controller="Teacher" method="post" id="create-form" enctype="multipart/form-data">
            <div class="form-group">
				<hr />
                <label class="control-label" style="color:red">
                        Import score fom file:
                </label>
                <input id="batchUsers" name="batchUsers" class="form-control" type="file" tabindex="14">
                <span class="form-text text-muted">Allowed file types:  xlsx, xls.</span>
            </div>
            <div class="card-footer">
                <center>
                    <button type="submit" id="submitImport" class="btn btn-primary mr-2">Import</button>
                </center>
            </div>
			<div hidden>
				<input type="text" id="inputImport" name="id"  hidden>
			</div>
        </form>
    </div>
</div>
</div>
@section Scripts{
<script src="~/js/ResultByTeacher.js"></script>
<script>
	document.getElementById("select").addEventListener('change',function()
	{
		loadStudyResult($(this).children("option:selected").val());
		$("#inputImport").val=$(this).children("option:selected").val();
	});
</script>
<script type="text/javascript">
	$(function () {
		$("#btnSubmit").click(function () {

			$("input[name='id']").val($("#select").children("option:selected").val());
		});
		$("#submitImport").click(function () {

			$("input[name='id']").val($("#select").children("option:selected").val());
		});
	});
</script>
}
