﻿<form name="frmMain" method="post" id="frmMain" data-toggle="validator" role="form">
    <div class="panel panel-default panel-border-color panel-border-color-primary">
        <div class="k-panel-tl">
            <div class="k-panel-tr">
                <div class="k-panel-tc">
                    <div class="panel-heading panel-heading-divider">
                        <span class="k-panel-header-text">Learning outcomes of the modules</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">

            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <td>
                            Subject:
                        </td>
                        <td>
                            <strong>
                                   @ViewBag.SubjectName                               
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Class Name:
                        </td>
                        <td>
                            <strong>
                                @ViewBag.ClassName
                            </strong>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="k-panel-bwrap">
            <div class="k-panel-ml">
                <div class="k-panel-mr">
                    <div class="k-panel-mc">
                        <div class="panel-body">
                            <div class="kGrid">
                                <div class="">
                                    <table id="studyClassResult" class="table table-bordered table-striped">
                                        <thead style="text-align: center">
                                            <tr class="kTableHeader">
                                                <td class="td" rowspan="2">
                                                    Student code
                                                </td>
                                                <td class="td" rowspan="2">
                                                    Student name
                                                </td>
                                                <td class="td" colspan="2">
                                                    Regular score
                                                </td>
                                                <td class="td" rowspan="2">
                                                    Midterm score
                                                </td>
                                                <td class="td" rowspan="2">
                                                    Final score
                                                </td>
                                                <td class="td" rowspan="2">
                                                    Average score
                                                </td>
                                                <td rowspan="2">
                                                    Grade
                                                </td>
                                            </tr>
                                            <tr class="kTableHeader">
                                                <td>
                                                    FifteenMinutes
                                                </td>
                                                <td>
                                                    OnePeriod
                                                </td>
                                            </tr>
                                        </thead>
                                    </table>

                                    <div class="red" style="font-size: 15px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section scripts{
    <script src="~/js/StudyClassResult.js"> </script>
}