﻿@using FA.ScoreManagement.Data.Entities
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> userManager
@{
    var user = userManager.GetUserAsync(User).Result;
    if (user is null)
    {
        user = new AppUser();
        user.FullName = "Log In";
    }
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="apple-itunes-app" content="app-id=1469388309">
    <meta name="google-play-app" content="app-id=com.dhcn.MyHAUI">
    <link rel="shortcut icon" href="~/assets/img/logosms.png">
    <title>Score Management System</title>
    <link rel="stylesheet" type="text/css" href="~/assets/lib/perfect-scrollbar/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/lib/material-design-icons/css/material-design-iconic-font.min.css" />
    <link href="~/assets/lib/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/vnkresource/css/flaticon.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/assets/lib/datetimepicker/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/assets/css/style.css" type="text/css" />
    <link href="~/assets/css/kstyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.11.2/css/jquery.dataTables.min.css" />
    <script src="~/assets/lib/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/js/snowfall.jquery.min.js" type="text/javascript"></script>
</head>
<body>
    <div class="be-wrapper be-fixed-sidebar">
        <nav class="navbar navbar-default navbar-fixed-top be-top-header">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand"></a>
                </div>
                <div class="be-right-navbar">
                    <ul class="nav navbar-nav navbar-right be-user-nav">
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">

                                <span class="user-name">@user.FullName</span>
                            </a>
                            <ul role="menu" class="dropdown-menu">
                                <li>
                                    <div class="user-info">
                                        <div class="user-name">@user.FullName</div>
                                    </div>
                                </li>
                                <li><a href="/member/profiles"><span class="icon mdi mdi-face"></span>Account</a></li>
                                <li>
                                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Student", new { area = "Student" })">
                                        &nbsp;&nbsp;&nbsp;<button id="logout" type="submit" class="nav-link btn btn-link text-dark"><span class="icon mdi mdi-power"></span>&nbsp;&nbsp;Logout</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="page-title">
                        <span>Score Management System</span>

                    </div>
                </div>
        </nav>
        <div class="be-left-sidebar">
            <div class="left-sidebar-wrapper">
                <a href="#" class="left-sidebar-toggle">Score Management System</a>
                <div class="left-sidebar-spacer">
                    <div class="left-sidebar-scroll">
                        <div class="left-sidebar-content">
                            <ul class="sidebar-elements">
                                <li class="divider">TEACHER ACCOUNT</li>
                                <li><a asp-action="Index" asp-controller="Teacher" asp-area="Teacher"><i class="icon mdi mdi-home"></i><span>Homepage</span></a></li>
                                <li class="parent">
                                    <a href="#"><i class="fa flaticon-boy31 icon"></i><span>Personal Information</span></a>
                                    <ul class="sub-menu">
										<li><a asp-action="UpdateTeacherInfo" asp-controller="Teacher" asp-area="Teacher" id="sub_userdetail"><span class="imgwrap"></span><span class="linkwrap">Update personal information</span></a></li>
                                        <li><a asp-action="ChangePassword" asp-controller="Teacher" asp-area="Teacher" id="sub_changepass"><span class="imgwrap"></span><span class="linkwrap">Change password</span></a></li>
                                    </ul>
                                </li>
                                <li class="sub-menu">
                                    <a asp-action="ImportScore" asp-controller="Teacher" asp-area="Teacher" ><i class="fa flaticon-a10 icon"></i><span>Import Score</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="be-content">
            <div class="main-content container-fluid">
                @RenderBody()
            </div>
        </div>

    </div>
    <div class="modal fade bs-example-modal-lg" id="kZoom">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="kbox"></div>
        </div>
    </div>
    <script src="~/assets/js/kadmin.2.0.js"></script>
    <script src="~/assets/lib/moment.js/min/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/lib/datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/lib/select2/js/select2.min.js" type="text/javascript"></script>
    <script src="~/assets/js/main.js" type="text/javascript"></script>
    <script type="text/javascript">
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            App.init();

            var files = $('.sidebar-elements li a');
            for (var i = 0; i < files.length; i++) {
                if ($(files[i]).attr('href').toLowerCase() == location.pathname.toLowerCase() + location.search.toLowerCase()) {
                    $(files[i]).parent().attr('class', 'active');
                    var obj = $(files[i]).parent();
                    var iparent = 0;
                    while (iparent < 10) {
                        if (obj.attr('class') == 'parent')
                            obj.addClass('open');
                        obj = obj.parent();
                        iparent++;
                    }
                }
            }
        });
    </script>

    <script>(function(i, s, o, g, r, a, m) { i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function() { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m) })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga'); ga('create', 'UA-106198347-2', 'auto'); ga('send', 'pageview');</script>
    <script src="//cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <div id="pdg"></div>
    <div id="notification"></div>
</body>
</html>
