﻿<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="apple-itunes-app" content="app-id=1469388309">
    <meta name="google-play-app" content="app-id=com.dhcn.MyHAUI">
    <link rel="shortcut icon" href="~/assets/img/logosms.png">
    <title>Score Management System</title>
    <link rel="stylesheet" type="text/css" href="~/assets/lib/perfect-scrollbar/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/lib/material-design-icons/css/material-design-iconic-font.min.css" />
    <link href="~/assets/lib/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/vnkresource/css/flaticon.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/assets/lib/datetimepicker/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/assets/css/style.css" type="text/css" />
    <link href="~/assets/css/kstyle.css" rel="stylesheet" />
    <script src="~/assets/lib/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/js/snowfall.jquery.min.js" type="text/javascript"></script>
</head>
<body>
    <div class="be-wrapper be-fixed-sidebar">
        <div class="be-content">
            <div class="main-content container-fluid">
                @RenderBody()
            </div>
        </div>

    </div>
    <div class="modal fade bs-example-modal-lg" id="kZoom">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="kbox"></div>
        </div>
    </div>
    <script src="~/assets/js/kadmin.2.0.js"></script>
    <script src="~/assets/lib/moment.js/min/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/lib/datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/lib/select2/js/select2.min.js" type="text/javascript"></script>
    <script src="~/assets/js/main.js" type="text/javascript"></script>
    <script type="text/javascript">
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            App.init();

            var files = $('.sidebar-elements li a');
            for (var i = 0; i < files.length; i++) {
                if ($(files[i]).attr('href').toLowerCase() == location.pathname.toLowerCase() + location.search.toLowerCase()) {
                    $(files[i]).parent().attr('class', 'active');
                    var obj = $(files[i]).parent();
                    var iparent = 0;
                    while (iparent < 10) {
                        if (obj.attr('class') == 'parent')
                            obj.addClass('open');
                        obj = obj.parent();
                        iparent++;
                    }
                }
            }
        });
    </script>

    <script>(function(i, s, o, g, r, a, m) { i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function() { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m) })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga'); ga('create', 'UA-106198347-2', 'auto'); ga('send', 'pageview');</script>

    <div id="pdg"></div>
    <div id="notification"></div>
</body>
</html>
