﻿@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
    Layout = "";
}
<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/png" sizes="16x16" href="~/admin/assets/images/favicon.png">


    <!-- Custom CSS -->
    <link href="~/admin/css/style.min.css" rel="stylesheet">
</head>

<body>
    <div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="error-box">
            <div class="error-body text-center">
                <h1 class="error-title">403</h1>
                <h3 class="text-uppercase error-subtitle">FORBIDDEN !</h3>
                <p class="text-muted mb-4 mt-4">YOU DO NOT HAVE PERMISSION TO ACCESS THIS SITE</p>
                <a  href="/Identity/Account/Login" class="btn btn-info btn-rounded waves-effect waves-light mb-4 text-white">Back to home</a>
            </div>
        </div>
    </div>
    <script src="~/admin/assets/plugins/jquery/dist/jquery.min.js"></script>
    <script src="~/admin/assets/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(".preloader").fadeOut();
    </script>
</body>

</html>