﻿@page
@model LoginModel
<form method="post" id="account" data-toggle="validator" role="form">
    <div class="splash-container">
        <div class="panel panel-default panel-border-color panel-border-color-primary">
            <div class="panel-heading panel-heading-divider">
                <img src="~/assets/img/logosmslarge.png" alt="logo" width="75" height="75" class="logo-img"><span class="splash-description"><h4 style="font-weight:bold;">Score Management System</h4><h5 style="font-weight:bold;">Student Information Portal</h5></span>

            </div>
            <div class="panel-body">
                <div class="form-group">
                    <input asp-for="Input.UserName" class="form-control" placeholder="Username" />
                </div>
                <div class="form-group">
                    <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                </div>
                <div class="splash-footer"><span style="font-weight:bold;color:red;">Forgot your password? <a href="/help?repass=1">Forget password</a></span></div>
                <div class="form-group login-submit">
                    <input type="submit" value="Log In" class="btn btn-primary btn-xl" data-dismiss="modal" />
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('body').addClass('be-splash-screen');
        $('.be-wrapper').removeClass('be-fixed-sidebar');
    </script>
    <style>
        .splash-container .panel {
            margin-bottom: 0px !important;
        }
    </style>
</form>